/* Screen One Headings */
h4{
	text-align: center;
	margin-bottom: 0px;
	font-family: "Space Mono", monospace;
	font-size: 20px;
}

h6 {
	text-align: center;
	font-family: Muli, sans-serif;
	font-size: 15px;
	margin-top: 5px;
}

#loginpage {
background: rgb(133,214,228);
background: linear-gradient(0deg, rgba(133,214,228,1) 0%, rgba(255,255,255,1) 65%);
}

.listBod {
	margin: 10px;
}

/* HOMEPAGE */
/* Image of Graph Section */
.today img {
	display: block;
	margin-left:auto;
	margin-right:auto;
	max-width:90%;
	height:auto;
}

img{
  width: 350px;
}

.btn-primary {
	background-color: #85D6E4;
	color: white;
	border: none;
	font-family: Muli, sans-serif;
	font-size: 22px;
}

.today {
	margin-top: 100px;
}

/* Current Friends Online Section */
.onlinefriends {
	border-bottom: 10px solid white;
	border-left: 15px solid white;
	border-right: 15px solid white;
	border-top: 15px solid white;
	background-color: #eeeeee;
	padding-bottom: 15px;
}

.onlinefriends .flex-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: Muli, sans-serif;
	gap: 55px;
}

.onlinefriends .flex-container p {
	display: flex;
	font-size: 20px;
	margin: auto;
	justify-content: space-between;
}

.onlinefriends h3{
	padding: 0px;
}

.flex-container-friends {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 5px;
	gap: 65px;
}

.onlinefriends img {
	width: 70px;
	height: 70px;
}


.navbar-light .navbar-brand {
	font-size: 30px;
	position: relative;
	font-family: "Bellota Text";
	font-weight: bold;
	top: 5px;
}


/*Start a Session Section */


/* Screen Two Heading */

h3{
	text-align: center;
}


/* Session Edit Section */
.session{
	border: 1px solid lightgray;
	background-color: lightgray;
	padding-left: 20px;
	padding-right: 20px;
	font-family: "Space Mono", monospace;
	font-size: 25px;
}


/* Participants Section */
.head .flex-container-ses {
	display: flex;
	flex-direction: row;
	justify-content: center;
	filter: grayscale(100%);
	margin-top: 30px;
	gap: 20px;
}

.displayparticipants .flex-container-participants {
	display: flex;
	flex-direction: row;
	flex-wrap: row;
	justify-content: center;
	gap: 40px;
}

.displayparticipants .flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: row;
	justify-content: center;
	font-family: Muli, sans-serif;
	padding-left: 5px;
}

.participants img {
	width: 70px;
	height: 70px;
}

 .time .flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.participants {
	border-left: 10px solid white;
	border-right: 10px solid white; 
	background-color: #eeeeee;
	padding: 10px;
	margin-bottom: 10px;
}

.participants-in {
	border-left: 10px solid white;
	border-right: 10px solid white; 
	background-color: #eeeeee;
	padding: 10px;
	margin-bottom: 10px;
	height: 200px;
}

.participants-in img {
	width: 70px;
	height: 70px;
	margin-top: 40px;
}

.participants h3{
	margin: 10px;
}

.participants-in h3{
	margin: 10px;
}

.participants .far {
	margin: 20px;
	font-size: 60px;
}

.participants-in .far {
	margin: 20px;
	font-size: 60px;
}

.time .fas{
	border: 1px solid lightgray;
	background-color: lightgray;
	padding-left: 65px;
	padding-right: 7px;
	padding-top: 10px;
    font-size: 20px;
}

.participants .flex-container p {
	font-size: 20px;
	margin: auto;
}

.participants .decline  {
	margin: 20px;
	color: red;
	font-size: 20px;
	text-align: center;
}

.invite {
	text-align: center;
}


/* Session Duration Section */
.time {
	border-bottom: 25px solid white;
	border-left: 15px solid white;
	border-right: 15px solid white;
	border-top: 5px solid white;
	background-color: #eeeeee;
	padding-bottom: 40px;
}

.time h3 {
	margin: 20px;
}

.duration{
	padding-top: 3px;
	margin-bottom: 5px;
}


/* Bottom NavBar For Both Screens */
.navbar {

}


/* Other Code */
.icon-heading {
	display: inline-block;
	text-align: center;
}

.time .flexcontainer {
	margin: auto;
}

input {
	width: 20%;
	padding: -20px;
	border: 1px solid black;
	border-radius: 5px;
}

.info {
	text-align: center;
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
}

#overlay {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.popup input {
	margin-left: 12.5%;
	width: 75%;
	margin-top: 5%;
	margin-bottom: 10%;
}

.popup a {
	margin-left: 110px;
	background-color: #A9D8FF;
	padding: 10px;
	border-radius: 5px;
}


/* Login Page */
.logo {
	text-align: center;
}

.logo img {
	width: 220px;
	padding-top: 90px;
}

h1 {
	text-align: center;
	padding-top: 140px;
	font-family: Muli, sans-serif;
}

.form-control {
	margin: auto;
	width: 300px;
}

label {
	position: relative;
	margin-left: 40px;
	margin-bottom: 0px;
	font-family: "Darker Grotesque";
	font-weight: bold;
	font-size: 25px;
}

.form-check-input {
	margin-left: -7px; 
	margin-top: 10px;
}

.form-check-label {
	font-size: 20px;
}

.mb-3 {
	margin-bottom: 0px;
}

.sign-info {
	text-align: center;
	padding-top: 15px;
}

p.facebooklogin {
	text-align: center;
	margin-top: 10px;
}


/* End Session Early Page */
img.sessions {
	width: 263px;
	height: 170px;
}

.participants p {
	margin-left: 15px;
	font-family: "Darker Grotesque";
	font-size: 25px;
	font-weight: bold;
}

.participants-in p {
	margin-left: 15px;
	font-family: "Darker Grotesque";
	font-size: 25px;
	font-weight: bold;
}

#loginbutton {
	width: 300px;
	background-color: #ECAC73;
}

#signupbutton {
	width: 300px;
	background-color: #ECAC73;
}


/* Session History */
h5 {
	text-align: center;
}

.history {
	margin-top: 10px;
	padding: 5px;
	background-color: #ECAC73;
	border-radius: 5px;
	font-family: "Darker Grotesque";
	font-size: 35px;
	font-weight: bold;
}

.iconsHis, .fas .far {
	font-size: 1.75em;
	padding: 50px;
	font-weight: 10;
	background-color: #99c9a6;
	margin-left: 10px; 
	transition: all 200ms ease-out;
	box-shadow: 0 0 0 1px rgba(0,0,0, .2);
	}

.iconsHis: hover{
	background-color: #000;
}

.partic img[src='/images/Amy.png']{
	width: 70px;
	height: 70px;
	margin-left: 25px;
	margin-top: 60px;
}

.partic img[src='/images/amygraph.png']{
	width: 220px;
	height: 190px;
	margin-top: -170px;
	border: solid gray 1px;
	margin-left: 125px;
	display: flex;
	flex-direction: row;
}

.partic img[src='/images/Jake.png']{
	vertical-align: center;
	width: 70px;
	height: 70px;
	margin-left: 25px;
	margin-top: 60px;
}
.partic img[src='/images/jakegraph.png']{
	margin-top: -190px;
	width: 220px;
	height: 190px;
	border: solid gray 1px;
	margin-left: 125px;
	display: flex;
	flex-direction: row;
}

.fa-user-circle{
	font-size: 3em;
	padding: 10px;
}

.partic h4{
	font-size: 1.2em;
	background-color: lightblue;
	border-radius: 5px;
	padding: 10px;
}


/* invite page */
.invitees img {
	width: 100px;
	height: 100px;
	margin-left: 50px;
}

.invitees p {
	text-align: center;
	font-family: "Darker Grotesque";
	font-size: 30px;
	margin-right: 175px;
}

.invitees button{
	float: right;
	position: relative;
	top: -125px;
	margin-right: 20px;
}

/* Session */
.participants .flex-container-people {
/*	display: flex;
	flex-direction: row; */

}

.canvasjs-chart-canvas {
	max-width: 250px;
	max-height: 180px;
	display: flex;
	flex-direction: row;
	margin-left: 80px;
	margin-top: -163px;
}

/* friends list*/
.friendlist img {
	width:100px;
	height:100px;
	margin-left: 70px;
}

.friendlist p {
	text-align: center;
	font-family: "Darker Grotesque";
	font-size: 30px;
	margin-right: 140px;
}

.container-fluid-homepage img{
	width:50px;
	height:50px;
}

.flex-container-profile .popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  height: 350px;
  top: 40%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
}

.flex-container-profile #overlay-jake {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.flex-container-profile #overlay-amy {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.flex-container-profile #overlay-bob {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.flex-container-profile {
	display: flex;
	flex-flow: column wrap;
	gap: 100px;
	margin-right: 20px;
	/*margin-right: 10px;
	margin: 10px;
	position:relative;
	top:-300px;
	gap: 50px;*/

}

.flex-container-profile button {
	margin-right: 20px;
	margin: 10px;
	position:relative;
	top:-450px;

}

.flex-container-profile .popup p {
	text-align: center;
	font-size: 20px;
	margin-right: 0px;
}

.flex-container-profile .popup img {
	text-align: center;
	width: 150px;
	height: 150px;
	border: solid gray 1px;
}

.flex-container-profile .popup a {
	text-align: center;
	margin-top:5%;

}

.amyprofile img[src='/images/amygraph.png'] {
	border: solid gray 1px;
	margin-left: 60px;
}

.jakeprofile img[src='/images/jakegraph.png'] {
	border: solid gray 1px;
	margin-left: 60px;
}

.bobprofile img[src='/images/yougraph.png'] {
	border: solid gray 1px;
	margin-left: 60px;
}

/* SESSION HISTORY */
.barplot h5 {
	font-family: "Space Mono", monospace;
}

.barplot {
	text-align: center;
}

.barplot img[src='/images/yourgraph.png']{
	width: 300px;
	height: 220px;
	text-align: center;
	border: solid gray 1px;
}

.barplot p {
	text-align: center;
}

#iconsHis p {
	font-family: "Darker Grotesque";
	font-weight: bold;
	font-size: 25px;
	margin-left: 37px;
}

.partic h4 {
	font-family: "Darker Grotesque";
	font-weight: bold;
	font-size: 25px;
}

.fas {
	color: #eea665;
}

#submitbutton {
	margin-left: 95px;
	background-color: #85D6E4;
}

.partic img[src='/images/jakegraph.png']{
	margin-bottom: 50px;
}

