/* Screen One Headings */
h4{
	text-align: center;
	padding-top: 5px;
}

h6 {
	text-align: center;
}


/* Image of Graph Section */
.today img {
	display: block;
	margin-left:auto;
	margin-right:auto;
	max-width:90%;
	height:auto;
}

img{
  width: 350px;
}

/*.today {
	filter: grayscale(100%);
} */

.btn-primary {
	background-color: #A9D8FF;
	color: white;
	border: none;
}


/* Current Friends Online Section */
.onlinefriends {
	border-bottom: 10px solid white;
	border-left: 15px solid white;
	border-right: 15px solid white;
	border-top: 15px solid white;
	background-color: #eeeeee;
	padding: 10px;
	padding-bottom: 15px;
}

.onlinefriends .flex-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 90px;
}

.onlinefriends .flex-container p {
	display: flex;
	font-size: 20px;
	margin: auto;
	justify-content: space-between;
}

.onlinefriends h3{
	padding: 0px;
}

.flex-container-friends {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 7px;
	gap: 80px;
}


/*Start a Session Section */
/*.info {
	filter: grayscale(100%);
} */


/* Screen Two Heading */

h3{
	text-align: center;
}


/* Session Edit Section */
.session{
	border: 1px solid lightgray;
	background-color: lightgray;
	padding-left: 30px;
	padding-right: 30px;
}


/* Participants Section */
.flex-container-ses {
	display: flex;
	flex-direction: row;
	justify-content: center;
	filter: grayscale(100%);
	margin-top: 30px;
	gap: 25px;
}

.flex-container-people {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 25px;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.flex-container .fas {
	font-size: 25px;
}

.flex-container .far {
	font-size: 25px;
}

.participants {
	border-bottom: 10px solid white;
	border-left: 15px solid white;
	border-right: 15px solid white;
	border-top: 15px solid white;
	background-color: #eeeeee;
	padding: 10px;
	padding-bottom: 15px;
}


.participants h3{
	margin: 10px;
}

.participants .far {
	margin: 20px;
	font-size: 60px;
}

.time .fas{
	border: 1px solid lightgray;
	background-color: lightgray;
	padding-left: 65px;
	padding-right: 7px;
	padding-top: 10px;
    font-size: 20px;
}

.participants .flex-container p {
	font-size: 20px;
	margin: auto;
}

.participants .decline  {
	margin: 20px;
	color: red;
}

.invite {
	text-align: center;
}


/* Session Duration Section */
.time {
	border-bottom: 25px solid white;
	border-left: 15px solid white;
	border-right: 15px solid white;
	border-top: 5px solid white;
	background-color: #eeeeee;
	padding-bottom: 40px;
}

.time h3 {
	margin: 20px;
}

.duration{
	padding-top: 3px;
}


/* Bottom NavBar For Both Screens */
.navbar {
	filter: grayscale(100%);
}


/* Other Code */
.icon-heading {
	display: inline-block;
	text-align: center;
}

.time .flexcontainer {
	margin: auto;
}

input {
	width: 20%;
	padding: -20px;
	border: 1px solid black;
	border-radius: 5px;
}

.info {
	text-align: center;
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
}

#overlay {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.popup input {
	margin-left: 12.5%;
	width: 75%;
	margin-top: 5%;
	margin-bottom: 10%;
}

.popup a {
	margin-left: 100px;
	background-color: #eeeeee;
	padding: 10px;
	border-radius: 5px;
}
