/* Screen One Headings */
h4{
	text-align: center;
	margin-bottom: 0px;
	font-family: "Space Mono", monospace;
	font-size: 20px;
}

h6 {
	text-align: center;
	font-family: Muli, sans-serif;
	font-size: 15px;
	margin-top: 5px;
}

body {
	background-image: linear-gradient(180deg, rgba(255,0,0,0), rgba(0,0,150,.5));
}

.listBod {
	margin: 10px;
}

/* HOMEPAGE */
/* Image of Graph Section */
.today img {
	display: block;
	margin-left:auto;
	margin-right:auto;
	max-width:90%;
	height:auto;
}

img{
  width: 320px;
}

.btn-primary {
	background-color: #A9D8FF;
	color: white;
	border: none;
}

.today {
	margin-top: 100px;
}

/* Current Friends Online Section */
.onlinefriends {
	border-bottom: 10px solid white;
	border-left: 15px solid white;
	border-right: 15px solid white;
	border-top: 15px solid white;
	background-color: #eeeeee;
	padding-bottom: 15px;
}

.onlinefriends .flex-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 10px;
	font-family: Muli, sans-serif;
	gap: 22px;
}

.onlinefriends .flex-container p {
	display: flex;
	font-size: 20px;
	margin: auto;
	justify-content: space-between;
}

.onlinefriends h3{
	padding: 0px;
}

.flex-container-friends {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-left: 5px;
	gap: 65px;
}

.onlinefriends img {
	width: 70px;
	height: 70px;
}

#profileicon {
	font-size: 45px;
	position: relative;
	top: 5px;
}

.navbar-light .navbar-brand {
	font-size: 30px;
	position: relative;
	font-family: "Bellota Text";
	font-weight: bold;
}


/*Start a Session Section */


/* Screen Two Heading */

h3{
	text-align: center;
}


/* Session Edit Section */
.session{
	border: 1px solid lightgray;
	background-color: lightgray;
	padding-left: 30px;
	padding-right: 30px;
	font-family: "Space Mono", monospace;
}


/* Participants Section */
 .head .flex-container-ses {
	display: flex;
	flex-direction: row;
	justify-content: center;
	filter: grayscale(100%);
	margin-top: 30px;
	gap: 20px;
}

.displayparticipants .flex-container-participants {
	display: flex;
	flex-direction: row;
	flex-wrap: row;
	justify-content: center;
	gap: 25px;
}

.displayparticipants .flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: row;
	justify-content: center;
	font-family: Muli, sans-serif;
	padding-left: 5px;
	gap: 20px;
}

.participants img {
	width: 100px;
	height: 100px;
}



 .time .flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}



.participants {
	border-bottom: 10px solid white;
	border-left: 15px solid white;
	border-right: 15px solid white;
	border-top: 15px solid white;
	background-color: #eeeeee;
	padding: 10px;
	padding-bottom: 15px;
}


.participants h3{
	margin: 10px;
}

.participants .far {
	margin: 20px;
	font-size: 60px;
}

.time .fas{
	border: 1px solid lightgray;
	background-color: lightgray;
	padding-left: 65px;
	padding-right: 7px;
	padding-top: 10px;
    font-size: 20px;
}

.participants .flex-container p {
	font-size: 20px;
	margin: auto;
}

.participants .decline  {
	margin: 20px;
	color: red;
}

.invite {
	text-align: center;
}


/* Session Duration Section */
.time {
	border-bottom: 25px solid white;
	border-left: 15px solid white;
	border-right: 15px solid white;
	border-top: 5px solid white;
	background-color: #eeeeee;
	padding-bottom: 40px;
}

.time h3 {
	margin: 20px;
}

.duration{
	padding-top: 3px;
	margin-bottom: 5px;
}


/* Bottom NavBar For Both Screens */
.navbar {
	filter: grayscale(100%);
}


/* Other Code */
.icon-heading {
	display: inline-block;
	text-align: center;
}

.time .flexcontainer {
	margin: auto;
}

input {
	width: 20%;
	padding: -20px;
	border: 1px solid black;
	border-radius: 5px;
}

.info {
	text-align: center;
}

.popup {
  display: none;
  position: fixed;
  padding: 10px;
  width: 280px;
  left: 50%;
  margin-left: -150px;
  height: 180px;
  top: 50%;
  margin-top: -100px;
  background: #FFF;
  z-index: 20;
}

#overlay {
  -webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
  box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
}

.popup input {
	margin-left: 12.5%;
	width: 75%;
	margin-top: 5%;
	margin-bottom: 10%;
}

.popup a {
	margin-left: 100px;
	background-color: #eeeeee;
	padding: 10px;
	border-radius: 5px;
}


/* Login Page */
h1 {
	text-align: center;
	padding-top: 140px;
	font-family: Muli, sans-serif;
}

.form-control {
	margin-left: 60px;
	max-width: 300px;
}

label {
	margin-left: 60px;
	margin-bottom: 0px;
	font-family: Muli, sans-serif;
	font-size: 18px;
}

.form-check-input {
	margin-left: 5px;
}

.form-check-label {
	font-size: 15px;
}

.mb-3 {
	padding-top: 20px;
	margin-bottom: 0px;
}

.sign-info {
	text-align: center;
	padding-top: 15px;
}

p.facebooklogin {
	text-align: center;
	margin-top: 10px;
}


/* End Session Early Page */
img.sessions {
	max-width: 200px;
	padding-right: 10px;
}

.participants p {
	text-align: center;
}

#loginbutton {
	width: 300px;
	background-color: #A2D762;
}

#signupbutton {
	width: 300px;
	background-color: #A2D762;
}


/* Session History */
h5 {
	text-align: center;
}

.history {
	margin-top: 20px;
	padding: 20px;
	background-color: lightgray;
	border-radius: 5px;
}
.iconsHis, .fas .far {
	font-size: 1.75em;
	padding: 50px;
	font-weight: 10;
	background-color: #99c9a6;
	margin-left: 10px; 
	transition: all 200ms ease-out;
	box-shadow: 0 0 0 1px rgba(0,0,0, .2);
	}

.iconsHis: hover{
	background-color: #000;
}

.partic img[src='/images/Amy.png']{
	width: 50px;
	height: 50px;
}

.partic img[src='/images/amygraph.png']{
	width: 250px;
	height: 250px;
	gap:20px;
}

.partic img[src='/images/Jake.png']{
	width: 50px;
	height: 50px;
}
.partic img[src='/images/jakegraph.png']{
	margin-top: 10%;
	width: 250px;
	height: 250px;
	gap:20px;
}

.fa-user-circle{
	font-size: 3em;
	padding: 10px;
}

.partic h4{
	font-size: 1.2em;
	background-color: lightblue;
	border-radius: 5px;
	padding: 10px;
	margin-top: 55px;
}


/* invite page */
.invitees img {
	width: 100px;
	height: 100px;

}

.invitees p {
	margin-left: 10px;
}

.invitees button{
	float: right;
	position: relative;
	top: -100px;
	margin-right: 10px;
}

/* Session */
.participants .flex-container-people {
	display: flex;
	flex-direction: row;
}

/* friends list*/
.friendlist img {
	width:100px;
	height:100px;
}

.container-fluid-homepage img{
	width:50px;
	height:50px;
}

